h4 {
  margin-bottom: 20px;
}
.form-group {
  margin-top: 10px;
}
.wrap-form {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}
input[type="text"] {
  display: block;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
  outline: none;
}

input[type="text"]:focus {
}
small {
  color: red;
}
.sign-in-btn {
  display: block;
  color: #fff;
  background: #1f75cb;
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s;
}
.sign-in-btn:hover {
  background: #1c68b4;
}
.wrap-social-login {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}
.wrap-social-login h4 {
  font-size: 21px;
}
.wrap-social-login .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.wrap-social-login h3 {
  margin-bottom: 10px;
}
.social-icon {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.social-icon:hover {
  background: lightgray;
}

.social-icon .wrap-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.social-icon img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.wrap-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.remember-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.remember-box input[type="checkbox"] {
  height: 15px;
  width: 15px;
}
.remember-box label {
  font-size: 14px;
}

.forgot-password a {
  color: #146ac0;
  font-size: 14px;
}
.forgot-password a:hover {
  text-decoration: underline;
}

.register {
  margin: 15px 0;
  font-size: 14px;
}
.register p a:hover {
  text-decoration: underline;
}

input.ng-touched.ng-invalid {
  border: 2px solid red;
}
input.ng-touched.ng-valid {
  border: 2px solid green;
}

.tooltips-box {
  color: #fff;

  padding: 20px 10px;
  margin-bottom: 20px;

  border-radius: 5px;
}
.tooltips-box.valid {
  background: #28a745;
}
.tooltips-box.invalid {
  background: red;
}
