* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(./assets/images/LOGIN_PAGE_.png) no-repeat;
  background-size: cover;
  background-position: center;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a,
a:active,
a:focus {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.more-info {
  text-align: center;
  margin: 10px 0;
}

.inner {
  width: 95%;
  margin:0 auto;
}
